<div class="tenki-earthquake-container">
<h1 class="earthquake-title">YahooAPIの地震情報一覧</h1>

  <% if @earthquakes.any? %>
    <ul class="earthquake-list">
      <% @earthquakes.each do |earthquake| %>
        <li class="earthquake-item"><%= earthquake.label %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="earthquake-message">地震情報がありません。</p>
  <% end %>
</div>