<div class="earthquake-container">
  <h1 class="earthquake-title">地震情報</h1>
  <%= render partial: 'yahoo_earthquake/index', locals: { earthquakes: @earthquakes } %>
  <%= render partial: 'tenki_earthquakes/index', locals: { earthquakes: @tenki_earthquakes } %>
</div>